.main1 {
    display: inline-block;
    border: black solid;
    background-color: grey;
}
.images {
     border-radius: 30%;
     margin-top: 10px;
     margin-bottom: 10px;
}

.aboutus{
    background-color: navajowhite;
}
.about
{
   
    padding : 20px;
    margin :auto;
    max-width: 800px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    background-color: lightpink;
}
#imgab{
    border: steelblue dotted;
    border-radius: 25%;
    padding : 20px;
    margin-left: 50px;
}
#transfer{
    border: steelblue dotted;
    border-radius: 25%;
    padding : 20px;
    margin-right: 35px;
}
#h{
    margin: auto;
    margin-bottom: 50px;
    max-width: 800px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightpink;
}
#history
{
    margin-left: 600px;
    border:steelblue dotted;
    border-radius: 25%;
    padding: 20px;
}
.container{
    color : darkred;
    background-color: blanchedalmond;
}

    
